* {
    margin: 0;
}

.creeper_squares {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40em;
    width: 100em;
    margin-left: 5em;
    border: 1px solid;
    gap: 25%;
    z-index: 1;
}

.dotted_squares {
    height: 30em;
    width: 30em;
    border: 1px solid;
    position: relative;
}

.child1_square {
    position: absolute;
    border: 2px dotted;
    border-color: red;
    height: 18em;
    width: 18em;
    bottom: 0;
    right: 0;
    margin: .2em;
}

.package_child2_circle {
    position: absolute;
    margin: -1.1em;
    bottom: 9em;
    right: 9em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.child2_square {
    position: relative;
    border:  2px dotted;
    border-color: blue;
    height: 10em;
    width: 10em;
}

.child_circle {
    position: absolute;
    border-radius: 50%;
    border: 1px solid;
    height: 2em;
    width: 2em;
    background-color: yellow;
}

.creeper {
    height: 30em;
    width: 30em;
    border: 1px solid;
    position: relative;
    background-color: #13bd0d;
}

.left_eye_creeper {
    position: absolute;
    height: 5em;
    width: 5em;
    top: 25%;
    left: 25%;
    background-color: black;
}

.right_eye_creeper {
    position: absolute;
    height: 5em;
    width: 5em;
    top: 25%;
    left: 25%;
    margin-left: 10em;
    background-color: black;
}

.mouth_creeper {
    position: absolute;
    height: 7em;
    width: 15em;
    top: 25%;
    left: 25%;
    margin-top: 8em;
    background-color: black;
}